*{
    padding:0;
    margin:0;
    list-style:none;
}
html,body{
    width:100%;
    height:100%;
}
.wrap{
    width:1080px;
    height:1920px;
    margin:0 auto;
    background:url(../img/2.png) no-repeat center center;
    position:relative;
}
.top{
    width:1080px;
    height:80px;
    background:url(../img/1.png) no-repeat center;
    position:absolute;
    top:20px;
    left:30px;
    position:relative;
}
.top>ul{
    position:absolute;
    top:30px;
    left:380px;
    display:flex;
    color:#fff;
}
.top>ul>li{
    margin-left:20px;
}
.top>ul>li>span{
    color:#34BFFF;
    font-size:24px;
}
.top>ul>li>em{
    font-style: normal;
    font-size:24px;
    color:#00CE74;
}
.main{
    position:relative;
    right:0;
}
.main>p:nth-child(1){
    position:absolute;
    top:40px;
    left:280px;
    border-radius: 50%;
    border:8px solid #567AB6;
}
.main>p:nth-child(2){
    position:absolute;
    top:180px;
    left:80px;
    border-radius: 50%;
    border:8px solid #567AB6;
}
.main>p:nth-child(3){
    position:absolute;
    top:370px;
    left:200px;
    border-radius: 50%;
    border:8px solid #567AB6;
}
.time{
    position:absolute;
    top:100px;
    right:100px;
    color:#fff;
}
.time>h3{
    font-size:40px;
    padding-bottom:10px;
}
.time>small{
    font-size:18px;
    padding-right:20px;
}
.content>p:nth-child(1){
    position: absolute;
    right:120px;
    top:230px;
    width:400px;
    color:#fff;
    text-indent: 2rem;
    line-height:40px;
    font-size: 18px;
}
.content>p:nth-child(2){
    position: absolute;
    right:120px;
    top:427px;
    width:400px;
    color:#fff;
    text-indent: 2rem;
    line-height:40px;
    font-size:18px;
}
.con {
    position: absolute;
    left: 50px;
    top:-150px;
    width: 100%;
    height: 1780px;
    background: url(../img/11.png) no-repeat center center;
    position: relative;
}
.list {
    position: absolute;
    width: 100%;
    position: relative;
    color: #fff;
}
.list strong {
    width: 220px;
    height: 220px;
    display: inline-block;
}
.list strong img {
    width: 100%;
}
#time {
    position: absolute;
    left: 116px;
    top: -8px;
}
.span1 {
    position: absolute;
    left: 280px;
    top: 100px;
}
.span2 {
    position: absolute;
    left: 355px;
    top: 100px;
}
.strong {
    position: absolute;
    left: 641px;
    top: -23px;
}
.h1 {
    position: absolute;
    left: 286px;
    top: 44px;
}
.list1 {
    top: 860px;
    left: 70px;
}
.list2 {
    top: 1220px;
    left: 70px;
}
.list2 strong {
    top: -38px;
    left: 37px;
}
.list2 .h1 {
    left: 486px;
}
.list2 #time {
    left: 721px;
    top: -23px;
}
.list2 .span1 {
    left: 466px;
    top: 100px;
}
.list2 .span2 {
    left: 555px;
    top: 100px;
}
.list3 {
    top: 1560px;
    left: 70px;
}


